# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Environment
.env
.env.*
!.env.example

# Frontend
node_modules/
dist/
dist-ssr/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Large Assets
frontend/pdfurl/
frontend/kitaplar/

# Python cache
*.pyo
*.pyd
